.partnersIntro {
	padding: 120px 0 80px;

	.lg-block({
		padding: 50px 0 30px;
	});

	.sm-block({
		padding-bottom: 0;
	});

	&__wrapper {
		padding: 0 60px;

		.sm-block({
			padding: 0;
		});
	}

	&__title {
		text-transform: uppercase;
	}

	&__content {
		.row-flex();

		margin-top: 54px;

		.lg-block({
			margin: 34px auto 0;
			max-width: 620px;
		});

		.sm-block({
			margin-top: 14px;
		});
	}

	&__caption {
		.col();
		.size(3.8);
		.size-lg(12);
	}

	&__img {
		.col();
		.size(4.2);
		.size-lg(12);

		.lg-block({
			margin-top: 34px;
		});

		.sm-block({
			margin-top: 14px;
		});
	}
}