.header {
	padding: 20px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav {
		a {
			margin: 0 25px;
		}
	}

	&__link {

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 14px;
			height: 14px;
			margin-right: 8px;
			background: none no-repeat center / contain;
		}

		&--active {
			color: @red;
		}

		&--phone {
			display: block;
			margin-bottom: 4px;
			
			&::before {
				background-image: url(../img/header-phone.svg);
			}
		}

		&--fax {
			display: block;

			&::before {
				background-image: url(../img/header-fax.svg);
			}
		}
	}
}