.header {
	padding: 20px 0;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav {
		a {
			margin: 0 25px;
		}
	}

	&__link {
		&--active {
			color: @red;
		}

		&--phone {
			display: inline-block;
			&::before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 14px;
				height: 14px;
				margin-right: 8px;
				background: url(../img/header-phone.svg) no-repeat / contain;
			}
		}
	}
}