.letters {
	padding-top: 60px;
	padding-bottom: 100px;
	background-color: @light-grey;

	&__head {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__controls {
		margin-left: 64px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		cursor: pointer;

		&[disabled] {
			svg {
				fill: @grey;
			}

			cursor: not-allowed;
		}

		&--prev {
			margin-right: 22px;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		margin-top: 44px;
	}
}