.orderCall {
	padding-bottom: 200px;

	&__wrapper {
		display: flex;
	}

	&__title {
		margin-right: 100px;
	}

	&__formWrapper {
		width: 100%;
		max-width: 620px;
	}

	&--contacts {
		.orderCall__wrapper {
			padding: 0 60px;
		}

		.orderCall__title {
			margin-right: 0;
		}

		.orderCall__formWrapper {
			margin-top: 150px;
		}
	}
}