.careerIntro {
	background: @grey url(../img/career-bg.jpg) no-repeat center / cover;

	&__wrapper {
		max-width: 660px;
		margin: 0 auto;
		padding: 158px 0;
		color: @white;
	}

	&__title {
		font-weight: 600;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		font-size: 18px;

		a {
			color: inherit;
			font-size: inherit;
		}
	}
}