.careerChange {
	margin: 150px 0;
	&__wrapper {
		padding: 64px;
		background-color: @light-grey;
	}

	&__formWrapper {
		margin-top: 64px;
		display: flex;
	}

	&__text {
		margin-right: 40px;
	}

	&__form {
		min-width: 620px;
	}
}