.contactsIntro {
	&__wrapper {
		padding: 100px 60px;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__title {
		text-transform: uppercase;
		line-height: 40px;
	}

	&__map {
		margin-top: 54px;
		max-width: 1080px;
	}
}